@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-decoration: none;
}

:root {
	--main-color: #333333;
	--yellow-color: #ff9900;
	--white-color:	#ffffff;
	--grey-color: #cacaca;
}

ul {
	list-style: none;
}

body {
	font-family: "Montserrat", sans-serif;
}

img {
	max-width: 100%;
}

a {
  color: #ffffff;
}

a:focus, button:focus, input:focus, textarea:focus, label:focus {
	outline: 3px solid var(--yellow-color);
	outline-offset: 3px;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.btn-reset {
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
  color: #ffffff;
}

.container {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 20px;
}

.top {
  background: #141414;
  box-shadow: 0px 4px 20px rgba(169, 169, 169, 0.18);
}

.header__container {
  height: 70px;
  padding-top: 25px;
}

.header__left {
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
  -webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.nav {
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;    
}

.header__nav__list {
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header__nav__item {
  padding-right: 60px;
}
.header__nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__btn {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.header__btn__icon {
  padding-left: 25px;
  background-image: url(../img/svg/Group.svg);
  background-repeat: no-repeat;
}

.header__main {
  height: 90px;
  background: #ECF1F2;
}

.header__main__container {
  padding-top: 24px;
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
}

.header__main__search {
  padding-left: 158px;
}

.searchbar {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  width: 377px;
  height: 41px;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 0px 42px;
}

.button {
  height: 12px;
  width: 12px;
  top: 1.5rem;
  right: 1rem;
  transition: all .1s;
  transition-delay: .1s;
}

.button:hover {
  cursor: pointer;
}

.header__main__gps {
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__main__city {
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.city__name {
  padding-left: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.header__main__phone {
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__contacts__item {
  padding-left: 55px;
}

.header__contacts__link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.phone__link {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #E8AA31;
}
.header__main__basket {
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header__main__basket__like {
  padding-left: 30px;
}

.header__main__basket-basket {
  padding-left: 30px;
}

.header__main__sum {
  padding-left: 16px;
}

.sum {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.issue__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #E8AA31;
}

.header__footer {
  background: #141414;
  box-shadow: 0px 4px 20px rgba(169, 169, 169, 0.18);
}

.header__footer__container {
  height: 70px;
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}


/* sgdsgsdgsdgsgsdg */
.dropbtn {
  background-color: transparent;
  color: #FFFFFF;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  z-index: 3;
}

.dropbtn-content {
  background-color: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  z-index: 3;
}

.dropdown {
  position: sticky;
  display: inline-block;
  z-index: 3;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #141414;
  min-width: 520px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

.dropdown-content a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 20px 16px;
  text-decoration: none;
  display: block;
  z-index: 3;
}

.dropdown-content a:hover {color: #E8AA31;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {color: #E8AA31;}
/* sgsgsgsgsgsdgsdg */


.certificate {
  background-image: url(../img/png/751\ 2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000000;
}


.first-bg {
  display: flex;
}

.bg {
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 45px;
	padding-bottom: 92px;
}

.first {
	padding-bottom: 51px;
}

.banner-pag {
  left: 0%;
  bottom: 46px;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 6%;
}

.swiper-pagination-bullet {
	margin: 0 12px;
	width: 15px;
	height: 15px;
	background-color: rgb(0, 0, 0);
	opacity: 0.5;
}

.swiper-pagination-bullet-active {
	position: relative;
	background-color: #E8AA31;
	opacity: 1;
}

.first__info {
	max-width: 915px;
}

.first__info__heading {
  margin-bottom: 15px;
	font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 128%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.first__info__subtitle {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 128%;
  letter-spacing: 0.03em;
  color: #FFFFFF;  
}

.first__info__descr {
	font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
	margin-bottom: 60px;
}

.btn__swiper {
  padding: 2px 53px ;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 230%;
}

.button--yellow {
	background: #E8AA31;
  box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
  border-radius: 3px;
	-webkit-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

.button--yellow:hover {
	background-color: rgba(255, 153, 0, 0.6);
	-webkit-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

.button--yellow:active {
	background-color: #ff6f00;
	border-color: #ff6f00;
}


.certificate__container {
  text-align: center;
}

.certificate__description {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #415167;
}

.certificate__heading {
  padding-top: 8px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: #415167;
}

.certificate__container__nav {
  padding-top: 112px;
  padding-bottom: 64px;
}

.certificate__nav__list {
  display: flex;
  justify-content: space-between;
}

.certificate__nav__item {
  padding: 10px 15px;
  flex: 0 1 25%;
}

.certificate__nav__item {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
}



.сhoice__container {
  margin-top: 100px;
}

.сhoice__tabs {
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
          justify-content: space-between;
}

.сhoice__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 32%;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	padding: 30px 30px;
  margin: 16px 0px;
}

.сhoice__info {
 width: 250px;
}

.сhoice__heading{
  margin-bottom: 45px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  color: #000000;
  border-bottom: 2px solid #E8AA31; 
  z-index: 2;
}

.choice__ellipse {
  transform: translateY(-3px);
  margin-right: 10px;
}

.сhoice__descr {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 189%;
  color: #000000;
}

.choice__img__item {
  position: relative;
}

.choice__one {
  top: 49px;
}

.choice__two {
  top: 53px;
}

.choice__three {
  top: 100px;
}

.choice__four {
  top: 34px;
  left: 30px;
}

.choice__five {
  top: 63px;
}

.choice__six {
  left: 30px;
} 

.bestseller__container {
  margin-top: 121px;
}

.bestseller__container__heading {
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
          justify-content: space-between;
}

.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 153%;
  letter-spacing: 0.05em;
  color: #141414;
}

.bestseller__link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 256%;
  letter-spacing: 0.05em;
  color: rgba(20, 20, 20, 0.58);
}

.bestseller__link:hover, :active {
  color: #E8AA31;
}

.bestseller__link__icon {
  margin-left: 10px;
  transform: translateY(2px);
}

.footer__top {
  margin-top: 118px;
  background-image: url(../img/png/Footer_top\ Group.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top__container {
  text-align: center;
}

.heading__top {
  padding-top: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 153%;
  letter-spacing: 0.05em;
  color: #E8AA31;
}

.descr__top {
  padding-top: 30px;
  padding-bottom: 58px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.main {
  background: #141414;
}

.main__content {
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  padding-top: 102px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.footer__right {
	-ms-flex-negative: 1;
	    flex-shrink: 1;
}

.main__heading {
  padding-bottom: 23px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer__item {
  width: 233px;
  margin-bottom: 23px;
  margin-right: 133px;
}

.footer__link {
	font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

.input {
	padding-left: 15px;
	width: 375px;
	height: 50px;
	background-color: #414141;
	border: 1px solid #414141;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: var(--grey-color);
	margin-bottom: 25px;
	-webkit-transition:  border-color 0.3s;
	-o-transition:  border-color 0.3s;
	transition:  border-color 0.3s;
}

.social-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.social-list__item:not(:last-child) {
	margin-right: 25px;
}

.social-list__link svg {
	width: 60px;
	height: 60px;
	fill: #7C7C7C;
	-webkit-transition: fill 0.3s;
	-o-transition: fill 0.3s;
	transition: fill 0.3s;
}

.social-list__link:hover svg {
	fill: var(--yellow-color);
	-webkit-transition: fill 0.3s;
	-o-transition: fill 0.3s;
	transition: fill 0.3s;
}

.social-list__link:active svg {
	fill: #ff6f00;
}